<h1>Tictactoes#index</h1>
<p>Find me in app/views/tictactoes/index.html.erb</p>
<table border="1" class="grid">
    <form action="/tictactoe">
    <tr>
        <td><img src="" class="box" >0</td>
        <td><img src="" class="box" >1</td>
        <td><img src="" class="box" >2</td>
    </tr>
    <tr>
        <td><img src="" class="box" >3</td>
        <td><img src="" class="box" >4</td>
        <td><img src="" class="box" >5</td>
    </tr>
    <tr>
        <td><img src="" class="box" >6</td>
        <td><img src="" class="box" >7</td>
        <td><img src="" class="box" >8</td>
    </tr>
    </form>
</table>